<ion-header>
  <ion-toolbar color="mango">
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <h1>Create Account</h1>
  <form>
    <ion-list>
      <ion-item>
        <ion-input autocomplete="off" type="email" placeholder="Enter First Name" id="firstname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input autocomplete="off" type="email" placeholder="Enter Surname" id="surname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input autocomplete="off" type="text" placeholder="D.O.B(mm/yy)" id="dob"></ion-input>
      </ion-item>


      <h6>Pick you prefered exercise</h6>
      <ion-radio-group value="biff">
        <ion-item>
          <ion-label>Running</ion-label>
          <ion-radio ></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Walking</ion-label>
          <ion-radio ></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Cycling</ion-label>
          <ion-radio ></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Hiking</ion-label>
          <ion-radio></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item lines='none'>
        Already have an account? <a routerLink='/login'>Sign in.</a>
      </ion-item>
    </ion-list>
    <ion-button expand="block" share="round" color="success">Registration</ion-button>
  </form>
</ion-content>